body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #1e1e1e;
	color: #d4d4d4;
	margin: 10px;
	width: 90%;
}

#plot {
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#container {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	width: 100%;
	gap: 10px;
}

#plotControls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 10px;
}

#mainControls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#traceControls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.colorPicker {
	padding: 0px;
	width: 100%;
}

.traceControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: 10px;
	border: #808080 1px solid;
	border-radius: 2px;
	padding: 10px;
	box-sizing: border-box;
}

.traceLabels {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.traceColumns {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 5px;
}

#labels {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: #808080 1px solid;
	border-radius: 2px;
	gap: 5px;
}

#titleLabels {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#plotTitle {
	width: 100%;
}

#axisLabels {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 5px;
}

#plotButtons {
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

button {
	background-color: #007acc;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	margin: 3px 3px;
	border-radius: 2px;
}
button:hover {
	background-color: #005f99;
}
select {
	background-color: #1e1e1e;
	color: #d4d4d4;
	border: 1px solid #007acc;
	padding: 5px;
}

input {
	background-color: #1e1e1e;
	color: #ffffff;
	border: 1px solid #007acc;
	padding: 6px;
}
